.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/site_libs/bootstrap-3.3.5/css/bootstrap.css
docs/site_libs/bootstrap-3.3.5/css/cerulean.min.css
docs/site_libs/bootstrap-3.3.5/css/cosmo.min.css
docs/site_libs/bootstrap-3.3.5/css/darkly.min.css
docs/site_libs/bootstrap-3.3.5/css/flatly.min.css
docs/site_libs/bootstrap-3.3.5/css/fonts/LatoBold.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/NewsCycle.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/NewsCycleBold.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/OpenSansLight.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/OpenSansLightItalic.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/Raleway.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/RalewayBold.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/Roboto.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/RobotoBold.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/RobotoLight.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/RobotoMedium.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/SourceSansPro.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/SourceSansProBold.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/SourceSansProItalic.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/SourceSansProLight.ttf
docs/site_libs/bootstrap-3.3.5/css/fonts/Ubuntu.ttf
docs/site_libs/bootstrap-3.3.5/css/journal.min.css
docs/site_libs/bootstrap-3.3.5/css/lumen.min.css
docs/site_libs/bootstrap-3.3.5/css/paper.min.css
docs/site_libs/bootstrap-3.3.5/css/readable.min.css
docs/site_libs/bootstrap-3.3.5/css/sandstone.min.css
docs/site_libs/bootstrap-3.3.5/css/simplex.min.css
docs/site_libs/bootstrap-3.3.5/css/spacelab.min.css
docs/site_libs/bootstrap-3.3.5/css/united.min.css
docs/site_libs/bootstrap-3.3.5/css/yeti.min.css
docs/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot
docs/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.svg
docs/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.ttf
docs/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff
docs/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff2
docs/site_libs/bootstrap-3.3.5/js/bootstrap.js
docs/site_libs/bootstrap-3.3.5/js/bootstrap.min.js
docs/site_libs/bootstrap-3.3.5/js/npm.js
docs/site_libs/bootstrap-3.3.5/shim/html5shiv.min.js
docs/site_libs/bootstrap-3.3.5/shim/respond.min.js
docs/site_libs/font-awesome-6.4.0/css/all.css
docs/site_libs/font-awesome-6.4.0/css/all.min.css
docs/site_libs/font-awesome-6.4.0/css/v4-shims.css
docs/site_libs/font-awesome-6.4.0/css/v4-shims.min.css
docs/site_libs/font-awesome-6.4.0/webfonts/fa-brands-400.ttf
docs/site_libs/font-awesome-6.4.0/webfonts/fa-brands-400.woff2
docs/site_libs/font-awesome-6.4.0/webfonts/fa-regular-400.ttf
docs/site_libs/font-awesome-6.4.0/webfonts/fa-regular-400.woff2
docs/site_libs/font-awesome-6.4.0/webfonts/fa-solid-900.ttf
docs/site_libs/font-awesome-6.4.0/webfonts/fa-solid-900.woff2
docs/site_libs/font-awesome-6.4.0/webfonts/fa-v4compatibility.ttf
docs/site_libs/font-awesome-6.4.0/webfonts/fa-v4compatibility.woff2
.DS_Store
key.txt
token.txt
