<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'head.html' %}
	<title>{% block title %}D&D Generators{% endblock %}</title>
	{% block head %}{% endblock %}
	</head>

<body>
    {% include 'header.html' %}


    <div class="container">
        {% block content %}
        <!-- Default or shared content goes here if any -->
        {% endblock %}
    </div>

    {% include 'footer.html' %}

    {% block scripts %}
    <!-- Default scripts can be included here -->
    {% endblock %}
</body>
</html>
