{% extends "base.html" %}

{% block content %}

	<div class="container">
		<h1 class="character-title">{{ character.name }}</h1>
		<div class="content">
			<div class="left-column">
				<p class="character-details"><strong>Species:</strong> {{ character['Species'] }}</p>
			    <p class="character-details"><strong>Class:</strong> {{ character['Class'] }}</p>
			    <p class="character-details"><strong>Background:</strong> {{ character['Background'] }}</p>
			    <p class="character-details"><strong>Level:</strong> {{ character['Level'] }}</p>
			</div>
			<div class="right-column">
				<h2>Stats</h2>
				<ul>
					{% for stat, value in character['Stats'].items() %}
					<li><strong>{{ stat }}:</strong> {{ value }} ({{ '%+d' % ((value - 10) // 2) }})</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<!-- Generate New Character Button -->
	<button onclick="window.location.href='/character';" class="fantasy-button">Generate New Character</button>


<script>
document.getElementById('regenerate-button').addEventListener('click', function() {
	window.location.reload();
});
</script>
</body>
</html>

{% endblock %}
