<footer style="background: #231c27; color: #f6d67c; padding: 1.15em 0; text-align: center; font-size: 1.03em; margin-top: 2em; border-top: 3px solid #786110; letter-spacing: 0.01em;">
	<a href="/AboutUs" style="color: #f6d67c; text-decoration: none; font-weight: bold; margin: 0 1.5em; transition: color 0.2s;">
		About Us
	</a>
	<span style="margin: 0 1.5em;">|</span>

	<span style="color: #f6d67c;">

		<a href="/wiki/lore"
			style="color: #f6d67c; text-decoration: none; font-weight: bold; margin: 0 1.5em; transition: color 0.2s;">
			Lore Wiki
			</a>
	</span>

	<span style="margin: 0 1.5em;">|</span>

	<span style="color: #f6d67c;">
		By
		<a href="https://github.com/JulTob" target="_blank" rel="noopener"
			style="color: #f6d67c; text-decoration: underline dashed; font-weight: bold; transition: color 0.2s;">
			Julio Toboso
		</a>
	</span>


</footer>

