
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page is defined and page.title %}{{ page.title }}{% else %}Legend Generator{% endif %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Pirata+One:wght@400;700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Cinzel:ital@0;1&display=swap" rel="stylesheet">

<link href="https://fonts.cdnfonts.com/css/jsl-ancient" rel="stylesheet">

<link href="https://fonts.cdnfonts.com/css/kings-and-pirates" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/iglesia" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=IM+Fell+English" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap" rel="stylesheet">
