
<header>
    <h1><a href="/">Legendary Generations</a></h1>
        <nav>
			<button class="fantasy-button">⚜️</button>
            <ul class="dropdown-menu">
                <li><a href="/"><button class="fantasy-button" data-show-loader>♜ Home</button></a></li>
                <li><a href="/npc"><button class="fantasy-button" data-show-loader>⛧ NPC</button></a></li>
				<li><a href="/list"><button class="fantasy-button" data-show-loader>⚔ NPC Names</button></a></li>
				<li><a href="/character"><button class="fantasy-button" data-show-loader>⚝ Character</button></a></li>
            	</ul>
        	</nav>
	</header>



<script>
	document.addEventListener("DOMContentLoaded", function () {
		const menuButton = document.querySelector(".fantasy-button");
		const nav = document.querySelector("nav");

		menuButton.addEventListener("click", () => {
			nav.classList.toggle("active");
			// Toggle the visibility of the dropdown menu
			});
		});
	</script>
