
<header>
    <h1><a href="/">Gen Legend</a></h1>
        <nav>
			<button class="fantasy-button">⚜️</button>
            <ul class="dropdown-menu">
                <li><a href="/"><button class="fantasy-button" data-show-loader>♜ Home</button></a></li>
                <li><a href="/npc"><button class="fantasy-button" data-show-loader>⛧ NPC</button></a></li>
				<li><a href="/list"><button class="fantasy-button" data-show-loader>⚔ NPCs Names</button></a></li>
				<li><a href="/character"><button class="fantasy-button" data-show-loader>⚝ Character</button></a></li>
            	</ul>
        	</nav>
	</header>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2780733181984350"
     crossorigin="anonymous"></script>
<!-- BannerGL -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2780733181984350"
     data-ad-slot="6997563931"
     data-ad-format="auto"
	 data-ad-test="on"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script> 


<script>
	document.addEventListener("DOMContentLoaded", function () {
		const menuButton = document.querySelector(".fantasy-button");
		const nav = document.querySelector("nav");

		menuButton.addEventListener("click", () => {
			nav.classList.toggle("active");
			// Toggle the visibility of the dropdown menu
			});
		});
	</script>
